/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

.clr {
    clear: both;
}

.clear-fix {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

li {
    list-style: none;
}

.font_21px {
    font-size: 21px;
}

.gray {
    color: #4D3B3B;
}

.orange {
    color: #FF6600;
}

.border_right {
    border-right: 1px solid #C6BFBF;
}

.start {
    width: 980px;
    height: auto;
    padding: 15px 10px 0 0px;
    font-size: 12px;
    line-height: 1.42857143;
}

.container {
    width: 95%;
    min-height: 70%;
    max-width: 1000px;
    padding-bottom: 30px;
    padding-left: 15px 5%;
    padding-right: 15px 5%;
    margin-right: auto;
    margin-left: auto;
    /*background-color: #f9f9f9;*/
}

a {
    color: #666699
}

a:link {
    text-decoration: none;
    color: #666699;
}

a:visited {
    color: #00004d;
}

a:hover {
    color: #a3a3c2;
}

a:active {
    color: #a3a3c2;
}

a.normal_color {
    color: #07C;
    text-decoration: underline;
    font-style: italic;
    font-weight: 200;
}

.green_bold {
    font-weight: bold;
    color: #444;
    font-size: 14px;
}

.gray {
    color: #4D3B3B;
}

.xam {
    color: #666;
}

.font_title {
    font-size: 19px;
    font-weight: bold;
    color: #444444;
}

.bottom_20px {
    margin-bottom: 20px;
}

.border_bottom {
    border-bottom: 1px solid #C6BFBF;
}

#no_border {
    border: none;
}

.divider {
    width: 100%;
    height: 45px;
    background: #f1f1f1;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.float_right li {
    list-style: none;
    float: left;
}

.margin_top_10 {
    margin: 10px 15px 0 0;
}

.margin_top_10 img {
    float: left;
}

.margin_top_15 {
    margin: 15px 15px 0 0;
}

.font_bold {
    font-weight: bold;
}

.media-line {
    height: 2px;
    background: darkcyan;
    margin-bottom: 10px;
}

.margin_15 {
    margin: 15px 15px 15 0;
}

.none1 {
    border: 0px solid #E5E5E5;
    background: none;
}

input:hover, input:focus {
    border: 2px solid rgb(140, 102, 153);
}

input, textarea {
    border: 2px solid rgba(0, 0, 0, .12);
}

.displayNone {
    display: none;
} 



















