.plus-button{
    background-color: transparent;
    border: none;
    font-size:13px;
    color: gray;
}
.plus-button:hover{
    background-color: transparent;
    border: none;
    font-size:16px;
    color: purple;
    cursor:pointer;
}

.background-image {
  /*background-image: url("../img/14028718821_8009120372_k.jpg");
  background-image: url("../img/yosemite.jpg");*/
  background-image: url("../img/bg.jpg");
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.content {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  margin: auto;
  z-index: 2;
  /********/
  padding: 10 20px;
  top: 90px;
  min-width: 300px;
}
div.content:hover,div.content:active,div.content:focus{
    background: rgba(255, 255, 255, 0.6);
}
/**************************end login*************************************/

/**************************begin form*************************************/
#field-box{
    display: block;
    border-radius: 3px;
    margin: 33px 10px 15px;
    padding: 29px 25px ;
    border: 1px solid #ddd;
}


.my-forms li:after {
    content: ".";
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
    margin-bottom:10px;
}
.my-forms label:focus{
    color:rgb(140, 102, 153);
}
.slide-header{
    width: 90%;
    border-bottom: 2px dotted gray;
    font-size: 17px;
    padding-bottom: 7px;
}
.tbFooter{
    background: #D3DCE3;
    border-top: 0;
    margin: -33px 10px 15px;
    text-align: right;
    float: none;
    clear: both;
    height: 70px;
    border-radius: 0 0 4px 5px;
    padding: 20px;
}
.success-status{
   /*color: green; */
   color:rgb(140, 102, 153);
   font-size: 24px;
   height: 38px;
   line-height: 38px !important;
   opacity: .8;
   text-align: center;
   top: 6px;
   width: 42px;
   z-index: 2;
   right: -3px;
}

.editable-table tbody tr{
   height: 42px;
}

.profile .profile-picture{
}
.profile .profile-overview{

}
.display-box{
   height:500px;
   margin-top: 5px; 
   position:relative;
   border-radius: 3px;
   border: 1px solid #ddd;
   z-index: 10;
   line-height: 1.7;
   -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
   -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
   box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
   font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.top-card{
   display: block;
   float: left;
   position: relative;
   width: 250px;
   height: 100%;
   background :white;
   padding:10px  5px ;
   border-right: 1px solid #ddd;
   overflow: scroll;
}
.profile-nav{
   /*padding: 0 25px;*/ 
   line-height: 40px;

}

.profile-nav .p-link{
    transition: background 0.6s;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid rgba(0, 0, 0, .1);;
    display: block;
    float: none;
    clear: both;
    height: 40px;

}
.profile-nav .p-link a {
	display: block;
	color: gray;
	width: 100%;
	height: 100%;
}
.profile-nav .p-link:hover,.p-link:focus,.p-link:active{
    background-color: rgba(51, 51, 51, 0.9);
}
.profile-nav .p-link:hover a,.p-link:focus a,.p-link:active a{
    color: white;
}

.profile-nav .p-link a i{
    float: left;
    width: 50px;
    text-align: center;
    font-size: 20px;

}
#p-active{
	color: rgb(140, 102, 153);
}
.profile-nav .p-link .li-text{
    float: left;
    padding-left: 5%;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.title{
	text-align: center;
	font-weight: 300;
}
.title h2{
    color:rgba(0, 0, 0, 0.5);
    margin: 20px 0 10px 0;
}
.title h3{
    font-size: 18px;
    color: #aaa;
    margin: 0px 0 10px 0;
}

.basic-info{
	float: left;
	display: block;
	overflow: scroll;
	width: 70%;
	height: 100%;
}
.basic-info .bd{
	padding: 25px 30px 30px;
}
.basic-info .bd ul{
    display: block;
    margin: 0 0 1em 0;
}

.basic-info .bd ul li:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
    min-height: 150px;
}
.basic-info .bd table{
	width: 100%;
}
.basic-info .bd table th{
	width: 30%;
}
.basic-info .bd table td{
	width: 70%;
}

.basic-info .bd table th h2{
    text-align: right;
    padding: 0 19px;
    clear: both;
    color: #7b90b5;
}
.basic-info .bd table th h4{
    text-align: right;
    padding: 0 19px;
    clear: both;
    font-size: 13px;
    color: #7b90b5;
}

.ft{
    box-shadow: 0 1px 0 #fff inset;
    clear: both;
    border-top: 1px dashed #ccc;
    padding: 0 21px 0 21px;
    background: #f6f6f6;
    float: right;
    width: 100%;
    height: 30px;
    color: gray;
    margin-top: -30px;
    text-align: right;
}
.dropzone-container{

}
#dropzone {
    position: relative;
    border: 2px dashed #d4d4d4;
    border-radius: 5px;
    background-color: #f2f2f2;
    height: 200px;
    width: 200px;
    text-align: center;
    color: #9a9a9a;
}
#dropzone.hover {
  border: 10px solid #d4d4d4;
  color: #FE5;
}

#dropzone.dropped {
  background: #f2f2f2;
  border: 1px solid #d4d4d4;
}

#dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#dropzone img {
  border-radius: 1px;
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
}

#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dropzone-text{
    
}




