/* CSS Document modify  */
.header {
    width: 100%;
    height: 90px;
    margin: auto;
}

.notification {
    top: 120px;
    right: 30px;
    min-height: 50px;
    min-width: 300px;
    position: fixed;
    z-index: 999999;
    pointer-events: none;
    box-shadow: #B4B5B5 2px 2px 2px;
    background: #707070;
    opacity: 0.9;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 30px;

    color: white;
    font-weight: 300;
}

.notification span {
    color: white;
    font-weight: 200;
}

.main { /**/
    width: 1144px;
    height: auto;
    margin: 0px auto;
}

/******************** notify ****************************/
.warning-box {
    position: relative;
    display: block;
    background: #fcf8e3;;
    border-bottom: 3px #b28038;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 6px;
    text-align: center;
    box-shadow: 0px -1px 0px #B0AC90 inset;
}

.warning-box span {
    color: #efa907;
    font-weight: 300;
    letter-spacing: 1.2px;

}

/********************end general*************************/
.top {
    width: 100%;
    max-width: 1600px;
    position: relative;
    height: 65px;
    top: 0;
    background-color: rgba(51, 51, 51, 0.78);
    padding: 20px 30px 10px 49px;
}

.toptext {
    font-family: fontawesome;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
}

.toptext a:link, .toptext a:visited, .toptext a:focus {
    color: white;
}

/*********************end upper half*********************/
.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    text-decoration: none;
    /*background-color: #52527a;
    /*color: #ffffff !important;
    /*border-radius: 4px;*/
    background-color: white;
    border-left: 1px solid #6a5b91;
    border-right: 1px solid #6a5b91;
}
.navbar-header a:link, .navbar-header a:visited{
    text-decoration: none;
    color: #666699;
    margin-bottom: 1px;
}
.nav li{
    /*border-left: 1px solid #6a5b91;*/
    margin-bottom: 1px;
}
.nav a:link, .nav a:visited {
    text-decoration: none;
    color: #666699;
    border: 1px solid transparent;
}
.navbar{
    border: 0px solid transparent;/*override bootstrap*/
}

.nav .dropdown-menu li {
    width: 100%;
}

.nav_area {
    display: block;
    position: relative;
    z-index: 9;
    width: 100%;
    float: left;
    vertical-align: middle;
    box-shadow: 0px -1px 0px #B0AC90 inset;
    /*background: #ccccff;*/
    background: white;
    padding-right: 20px;

}

.nav_fixed {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.8;
}

.search_div {
    float: right;
    width: 30%;
}

.search_div .search {
    min-width: 252px;
    max-width: 450px;
    height: 27px;
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search_div .ash-button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    position: relative;
    left: -28px;
    margin-top: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #D9230F;
}

.search_div .title {
    margin: 18px 100px 0 120px;
}

/***********outside header**********************************/
.page-title {
    margin: 0px 0 0 0;
    padding: 5px 0 0 42px;
    color: #333;
    border: 1px solid #e7e7e7;
    background: #fafafa;
}

/*************footer*********************/
.simple {
    background: #2b2b2b;
    padding-top: 45px;
    padding-bottom: 10px;
    border-top-color: #faa523;
    bottom: 0px;
}

footer .constrain {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

footer .constrain .row {
    width: 1240px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
}

footer .constrain .legal {
    margin-top: 1em;
    border-top: solid 1px #333;
    box-shadow: #000 0 -1px 0
}

.legal .copyright {
    margin: 10px 0 0 0;
    float: left;
    width: 40%;
    font-size: 11px;
    line-height: 130%;
    color: #777;
}

footer p.copyright a {
    color: #aaa;
}

footer p.copyright span.sponsor-line {
    display: block;
    font-size: 10px;
    margin-top: 1em;
}
