
#the_list {
    text-align: left;
    font: normal 14px Georgia, 'Times New Roman', serif;
    width: 980px;
    margin-bottom: 30px;
    outline: none;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
#the_list #list-table-body tr{
    border-bottom: solid 1px #e1e1e1;
    border-top: solid 1px #e1e1e1
}

#the_list #list-table-body tr td {
    padding: 10px 10px 5px 0;
    /*border-bottom: solid 1px #e1e1e1;*/
    vertical-align: middle;
    font: normal 16px Georgia, 'Times New Roman', serif
}
#the_list #list-table-body tr:hover{
    border-bottom: solid 1px #6a5b91;
    border-top: solid 1px #6a5b91;
    margin-top: 2px;
}
#the_list thead tr th {
    text-align: left;
    padding: 5px 10px 5px 0;
    font: bold 12px 'Helvetica Neue', sans-serif;
    color: #333;
    background: #f1f1f1;
    border-bottom: solid 5px #fff;
    white-space: nowrap;
}

#list_table .table_action .bottom_action {
    display: block;
    margin-bottom: 30px;
}

#list_table .table_action .bottom_action .tabs li {
    float: left;
    text-align: center;
    font: normal 16px 'Helvetica Neue', sans-serif;
    margin-right: 30px;
}

#list_table .table_action .bottom_action .search {
    float: right;
    position: relative;
    margin-top: -4px
}

/*========Section Search==========*/
.search {
    font: normal 14px 'Helvetica Neue', sans-serif;
}

.search input {
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    width: 270px;
    height: 40px;
    padding: 0px 40px 0px 20px;
    margin: 0;
    background: #fff;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.search .list_search {
    background: #fff;
    color: rgba(0, 0, 0, .87);

}

.search .search_icon {
    color: rgba(0, 0, 0, .7);
    font-size: 18px;
    height: 32px;
    line-height: 32px !important;
    opacity: .6;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 42px;
    z-index: 2;
}

.search_icon .fa {
    font-weight: 200;
}

.search .search_icon {
    right: 3px;
}

#number-result {
    box-shadow: 0 1px 0 #fff inset;
    clear: both;
    border-top: 1px dashed #ccc;
    padding: 0 21px 0 21px;
    height: 30px;
    color: gray;
    text-align: right;
}

.letter-avatar {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 500;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*-------- Section After---------*/
#list_table .table_action .bottom_action:after {
    clear: both;
    content: " ";
    display: block
}
/******************************table style**********************************/

.table-bordered {
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

table {
    max-width: 100%;
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table, td {
    font: 100% Arial, Helvetica, sans-serif;
}

th, td {
    text-align: left;
}

thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

th {
    text-align: left;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

/***********end table***************/

/********begin editable ***************/
.editbox {
    display: none;
}

.editbox {
    font-size: 14px;
    width: 270px;
    padding: 4px;
    width: 90%;
    height: 25px;
}

.edit_tr:hover {
    cursor: pointer;
}





























